{% extends 'base.html.twig' %}
{% block title %}{% endblock %}

{% block body %}
    <h1>Ajouter le nombre d'heure pour chaque jeux</h1>
        {{ form_start(form) }}
        <div class="row mt-5">
            <div class="col-sm-12 col-md-3">
                {% for key, hour in form.userVideoGameHours  %}
                    {{ videoGames[key].videoGame.name }}
                    {{ form_row(hour.hour) }}
                {% endfor %}
            </div>
        </div>
        <button class="btn btn-success">Valider</button>
        {{ form_end(form) }}
{% endblock %}


